*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea
shared/shared.iml
shared/shared_commonMain.iml
shared/shared_commonTest.iml
shared/shared_iosMain.iml
shared/shared_iosTest.iml
/mvi.iml
buildSrc/build